
body{
    font-family: Georgia;
    background-color: Black;
    color: White;
    background-image: url("images/repeat.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    text-align: center;
}
.menu{
    text-align: center;
    padding: relative;
    width:100%;
    
}

.menu a{
    text-decoration: none;
    font-size: 30;
    
    color: white;
    border-radius: 5px;
}
.menu a:hover{
    background: white;
    color: Black;
}