
body{
    font-family: Georgia;
    background-color: Black;
    color: White;
    background-image: url("images/repeat.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header{
    text-align: center;
}
.menu{
    text-align: center;
    padding: relative;
    width:100%;
    
}

.menu button{
    text-decoration: none;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30;
    background-color: transparent;
    color: white;
    border-radius: 10px;
}
.menu button:hover{
    background: transparent;
    color: lightskyblue;
}
